* {
  font-family: "Noto Sans TC";
}

body {
  background-color: #ffffff;
  margin: 6px;
  margin-bottom: 2px;
  width: 220px;
}

.header {
  color: #425563;
  font-size: 13px;
}

td.filter[selected="false"] > :hover {
  background-color: #f4f6fb;
  cursor: pointer;
}

td.filter[selected="true"] {
  font-weight: bold;
  background-color: #bdc3d3;
}

span.filter {
  font-size: 13px;
  line-height: 40px;
  padding-left: 10px;
  color: #425563;
  display: block;
}

.text {
  color: #222222;
  font-size: 14px;
}

table {
  width: 100%;
}

td.center {
  text-align: center;
}

input {
  color: #464646;
  background-color: #f4f6fb;
  outline: none;
  border: 1px solid #a4a5a7;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

#switch_cell {
  text-align: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d2dbd4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: #6a7175;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #a2c47c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Add button */
#add_filter_button {
  background: transparent url("images/add-14.png") no-repeat bottom left;
  padding-left: 18px;
  height: 18px;
  color: #0086bf;
  border: transparent;
  text-align: left;
}

#filter_editor_row {
  display: none;
}

#save_filter_button {
  background: transparent url("images/save-14.png") no-repeat bottom right;
  width: 17px;
  height: 14px;
}

#cancel_edit_button {
  background: transparent url("images/cancel-14.png") no-repeat bottom right;
  width: 17px;
  height: 14px;
}

.image_button {
  border: transparent;
  mix-blend-mode: multiply;
  background-color: transparent;
  opacity: 0.6;
}

.image_button:hover {
  opacity: 1;
  cursor: pointer;
}
